<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link rel="stylesheet" href="{% static 'css/my.css' %}">
</head>
<body>
        {% if websites %}
    <table>
        <tr>
            <th>Name</th>
            <th>Date</th>
            <th>URL</th>
            <th>Type</th>
        </tr>
        {% for website in websites %}
        <tr>
            <td>{{ website.name }}</td>
            <td>{{ website.date }}</td>
            <td><a href="{{ website.name.url }}">{{ website.name.url }}</a></td>
            <td>{{ website.name.topic.top_name }}</td>
        </tr>
        {% endfor %}
        {% else %}
            <h1>No records to display</h1>
        {% endif %}
    </table>
</body>
</html>



